In [2]:
import pandas as pd

In [14]:
clegg_df = pd.read_csv(
    r'C:\Users\faxul\Google Drive\RamirezRepStudy\thesisminusdata\TradeCode\paper_repstudy\notFeelingTheBuzz\Datafiles\clegg_matches_cleaned.csv')
clegg_fitset = clegg_df[~(clegg_df['date'] > '2019-01-00')].copy()

r_df = pd.read_csv(
    r'C:\Users\faxul\Google Drive\RamirezRepStudy\thesisminusdata\TradeCode\paper_repstudy\notFeelingTheBuzz\Datafiles\ramirez_matches_cleaned.csv')
r_fitset = r_df[~(r_df['date'] > '2019-01-00')].copy()
r_fitset = r_fitset[~(r_fitset['date'] < '2016-07-02')].copy()

In [15]:
r_fitset

,Unnamed: 0,match_id,player,date,year,rankdist,wikibuzz,inverse_b365,inverse_avg,inverse_best,outcome
4878,13016,13016,Jana Cepelova,2016-07-02,2016.0,0.026418,3.829547,0.333333,0.330033,0.303030,0
4879,13015,13015,Katerina Siniakova,2016-07-02,2016.0,0.324561,2.170413,0.200000,0.195313,0.173913,0
4880,13014,13014,Petra Kvitova,2016-07-02,2016.0,-0.071429,-1.091749,0.694444,0.714286,0.684931,0
4881,13013,13013,Alize Cornet,2016-07-02,2016.0,0.094718,-1.841631,0.181818,0.190476,0.173913,0
4882,13012,13012,Carina Witthoeft,2016-07-02,2016.0,0.240826,0.050116,0.142857,0.147710,0.129534,0
...,...,...,...,...,...,...,...,...,...,...,...
15849,20232,20232,Alison Riske,2018-12-31,2018.0,0.007937,1.057593,0.400000,0.392157,0.344828,1
15850,20230,20230,Mirjana Lucic-Baroni,2018-12-31,2018.0,-0.009511,-0.693147,0.636943,0.621118,0.591716,1
15851,20229,20229,Magda Linette,2018-12-31,2018.0,-0.004715,-0.534426,0.621118,0.598802,0.568182,1
15852,20226,20226,Su-Wei Hsieh,2018-12-31,2018.0,0.000601,-0.510826,0.526316,0.520833,0.500000,1
15853,20224,20224,Alize Cornet,2018-12-31,2018.0,0.098684,1.058990,0.333333,0.326797,0.287356,1

In [16]:
clegg_fitset

,Unnamed: 0,match_id,WTA,player,date,rankdist,wikibuzz,inverse_b365,inverse_best,inverse_avg,outcome,year
0,0,1540,34,Sloane Stephens,2016-07-02,-0.037518,-1.611383,0.862069,0.826446,0.854701,1,2016
1,2,1542,34,Petra Kvitova,2016-07-02,-0.071429,-1.094660,0.694444,0.684932,0.714286,0,2016
2,3,1545,34,Anna-Lena Friedsam,2016-07-02,0.002864,-0.157395,0.434783,0.416667,0.446429,0,2016
3,4,1546,34,Carina Witthoeft,2016-07-02,0.240826,0.047462,0.142857,0.129534,0.147710,0,2016
4,5,1547,34,Jana Cepelova,2016-07-02,0.026418,3.424082,0.333333,0.303030,0.330033,0,2016
...,...,...,...,...,...,...,...,...,...,...,...,...
10821,6019,7561,3,Caroline Garcia,2018-12-31,-0.044998,-1.356242,0.800000,0.769231,0.781250,0,2018
10822,6021,7563,3,Timea Bacsinszky,2018-12-31,0.029247,0.647253,0.307692,0.294118,0.314465,0,2018
10823,5949,7491,1,Bethanie Mattek-Sands,2018-12-31,0.016011,0.572767,0.333333,0.303951,0.323625,0,2018
10824,5950,7492,1,Lara Arruabarrena,2018-12-31,-0.006415,-0.111059,0.381679,0.347222,0.386100,0,2018
10825,6017,7559,3,Alison Riske,2018-12-31,0.031490,1.057593,0.294118,0.253165,0.284091,1,2018